@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Pink400: hsl(0, 36%, 70%);
    --Red500: hsl(0, 93%, 68%);
    --Gray900: hsl(0, 6%, 24%);
    --Linear: 135deg, hsl(0, 0%, 100%), hsl(0, 80%, 96%);
    --Linear2: 135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%);
}

body{
    background-image: linear-gradient(var(--Linear));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font: normal 16px 'Josefin Sans', sans-serif;
    height: 100dvh;
    width: 100dvw;
}

#logo{
    padding: 40px 20px;
}

main{
    height: 100dvh;
}

.main-title{
    text-transform: uppercase;
    text-align: center;
    padding: 50px 20px 10px 20px;
    line-height: 1.1em;
    letter-spacing: 0.4em;
    font-weight: 600;
    font-size: 2.5em;
    color: var(--Gray900);
}

.main-title span{
    color: var(--Pink400);
    font-weight: 300;
}

.description{
    color: var(--Pink400);
    font-weight: 600;
    text-align: center;
    padding: 20px 20px;
    line-height: 1.5em;
}

form{
    width: 100%;
    padding: 20px 20px;
}

#subscribe{
    display: flex;
    position: relative;
    justify-content: center;
    width: 100%;
}

#email{
    font-family: 'Josefin Sans';
    width: 100%;
    padding: 20px 50px 20px 30px;
    font-size: 1em;
    background-color: transparent;
}

#email::placeholder{
    color: var(--Pink400);
    opacity: 60%;
}

#email:focus{
    outline-color: var(--Red500);
}

.email-border{
    border: none;
    border: 1px solid var(--Pink400);
    border-radius: 30px;
}

#submit{
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translateY(-50%);
    padding: 17px 30px;
    border-radius: 30px;
    background-image: linear-gradient(var(--Linear2));
    border: none;
}

#submit:hover{
    cursor: pointer;
    background-image: linear-gradient(135deg, hsl(0, 86%, 92%), hsl(0, 76%, 84%));
    box-shadow: -2px 4px 10px rgba(0, 0, 0, 0.400);
}

.email-error{
    background-image: url(../images/icon-error.svg);
    background-repeat: no-repeat;  
    background-position: 80%;
    border: 1px solid var(--Red500);
}

#context-error{
    color: var(--Red500);
    padding: 10px 0px 0px 20px;
    text-align: left;
    display: none;
}

#img{
    min-height: 320px;
    background: url(../images/hero-mobile.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}