@media screen and (min-width: 550px) {
    main{
        display: flex;
        flex-flow: column wrap;
    }
    #img{
        background-image: url(../images/hero-desktop.jpg);   
        background-position: top center;
        width: 50%;
        height: 100%;
        order: 2;
        background-size: cover;
    }
    #main-content{
        width: 50%;
    }
}