@media screen and (min-width: 600px) {
    body{
        padding-left: 40px;
    }
    main{
        display: flex;
        flex-flow: column wrap;
    }
    .description, #subscribe{
        max-width: 500px;
    }
    #img{
        background-image: url(../images/hero-desktop.jpg);   
        background-position: top center;
        width: 50%;
        height: 100%;
        order: 2;
        background-size: cover;
    }
    #main-content{
        width: 50%;
        padding-top: 5%;
        padding-right: 50px;
    }
    .main-title{
       text-align: left;
    }
    .description{
        text-align: left;   
    }
    .email-error{
        background-position: 75%; 
    }
}